<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/cs/index.css">
</head>
<body>
    <div>
        {% if username %}
            {{username}}
            <br>
            <img src="/static/img/01.jpg" alt="">
            <a href="/booktest/list/">进入图书列表</a>
            <img src="/static/img/02.jpg" alt="">

            {# 去除硬编码 #}
            {% load static from staticfiles %}
            <img src="{% static '/img/02.jpg' %}" alt="">

        {% else %}
            <h1><a href="{% url 'booktest:login' %}">登录</a></h1>
        {% endif %}

    </div>
</body>
</html>