<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax</title>
    <script src="/static/jquery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>


</head>
<body>
    {% csrf_token %}
    <button id="load">Load</button>
    <div id="info"></div>
  <script>
        $(function () {
            $('#load').click(function () {
                console.log('加载完成')
                $.ajax({
                  url:'/booklibrary/ajaxajax/',
                  type:'post',
                  data:{"csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()},
                  success:function (data) {
                      $('#info').html(data)
                  }
                })
            })

        })
    </script>
</body>
</html>

